/**
 * Colors
 */

$blue: #1a9cba;
$yellow: #fecc00;
$orange: #fec600;
$pink: #ef5265;
$green: #76ca40;
$gray: #575656;
$gray-light: #898989;
$gray-lighter: #c4c4c4;
$gray-lightest: #f2f2f2;

// Alert colors.
$alert-yellow: #f0b849;
$alert-red: #cc1818;
$alert-green: #4ab866;
